<a href="https://colab.research.google.com/github/pravigowda18/Machine_Learning/blob/main/Text_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re
from nltk.corpus import stopwords

def clean_text(text):
    # Remove URLs
    text = re.sub(r'http\S+', '', text)

    # Remove digits
    text = re.sub(r'\d+', '', text)

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]

    return ' '.join(filtered_words)

# Load the CSV file into a DataFrame
input_file = 'sentiment_analysis.csv'
output_file = 'cleaned_dataset.csv'
df = pd.read_csv(input_file)

# Clean the 'text' column using the clean_text function
df['cleaned_text'] = df['text'].apply(clean_text)

# Save the cleaned DataFrame to a new CSV file
df.to_csv(output_file, index=False)

print("Dataset cleaned and saved to:", output_file)

Dataset cleaned and saved to: cleaned_dataset.csv

In [ ]:
df

,Year,Month,Day,Time of Tweet,text,sentiment,Platform,cleaned_text
0,2018,8,18,morning,What a great day!!! Looks like dream.,positive,Twitter,great day Looks like dream
1,2018,8,18,noon,"I feel sorry, I miss you here in the sea beach",positive,Facebook,feel sorry miss sea beach
2,2017,8,18,night,Don't angry me,negative,Facebook,Dont angry
3,2022,6,8,morning,We attend in the class just for listening teac...,negative,Facebook,attend class listening teachers reading slide ...
4,2022,6,8,noon,"Those who want to go, let them go",negative,Instagram,want go let go
...,...,...,...,...,...,...,...,...
494,2015,10,18,night,"According to , a quarter of families under six...",negative,Twitter,According quarter families six live poverty
495,2021,2,25,morning,the plan to not spend money is not going well,negative,Instagram,plan spend money going well
496,2022,5,30,noon,uploading all my bamboozle pictures of facebook,neutral,Facebook,uploading bamboozle pictures facebook
497,2018,8,10,night,congratulations ! you guys finish a month ear...,positive,Twitter,congratulations guys finish month early booo
498,2019,3,25,morning,"actually, I wish I was back in Tahoe. I miss...",negative,Instagram,actually wish back Tahoe miss

In [ ]:
import pandas as pd
import emoji

def emoji_to_text(input_text):
    # Replace emojis with their textual representations
    return emoji.demojize(input_text)

# Load the CSV file into a DataFrame
input_file = 'Movies_to_Emojis.csv'
output_file = 'transformed_dataset.csv'
df = pd.read_csv(input_file)

# Apply emoji_to_text function to the 'text' column containing emojis
df['transformed_text'] = df['Emojis'].apply(emoji_to_text)

# Save the transformed DataFrame to a new CSV file
df.to_csv(output_file, index=False)

print("Dataset transformed and saved to:", output_file)

Dataset transformed and saved to: transformed_dataset.csv

In [ ]:
df

                            Movies   Emojis
0                          Titanic  ⛴️🌊❄️💔👫
1                    The Lion King      🦁👑🎶
2                           Avatar     🌍🌳💙👽
3                  The Dark Knight     🌑🦇🌆🃏
4         The Shawshank Redemption   🗝️🤝👨⚖️
..                             ...      ...
248                    Kotigobba 2    🎭👑2️⃣
249                          Karva      ⌛👻🚗
250  Godhi Banna Sadharana Mykattu      👴🧳🔎
251                    Raajakumara      👑🎩🌟
252                 Mungaru Male 2  ☔🌳❤️2️⃣

[253 rows x 2 columns]

In [ ]:
d=['Emojis','transformed_text']
df[d]

      Emojis                                   transformed_text
0    ⛴️🌊❄️💔👫  :ferry::water_wave::snowflake::broken_heart::w...
1        🦁👑🎶                       :lion::crown::musical_notes:
2       🌍🌳💙👽  :globe_showing_Europe-Africa::deciduous_tree::...
3       🌑🦇🌆🃏          :new_moon::bat::cityscape_at_dusk::joker:
4     🗝️🤝👨⚖️           :old_key::handshake::man::balance_scale:
..       ...                                                ...
248    🎭👑2️⃣                 :performing_arts::crown::keycap_2:
249      ⌛👻🚗                :hourglass_done::ghost::automobile:
250      👴🧳🔎  :old_man::luggage::magnifying_glass_tilted_right:
251      👑🎩🌟                     :crown::top_hat::glowing_star:
252  ☔🌳❤️2️⃣  :umbrella_with_rain_drops::deciduous_tree::red...

[253 rows x 2 columns]

In [ ]:
import pandas as pd
import re
from nltk.corpus import stopwords

def clean_text(text):
    # Remove URLs
    text = re.sub(r'http\S+', '', text)

    # Remove digits
    text = re.sub(r'\d+', '', text)

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]

    return ' '.join(filtered_words)

# Load the CSV file into a DataFrame
input_file = 'sentimentdataset.csv'
output_file = 'cleaned_dataset.csv'
df = pd.read_csv(input_file)

# Clean the 'text' column using the clean_text function
df['cleaned_text'] = df['Text'].apply(clean_text)

# Save the cleaned DataFrame to a new CSV file
df.to_csv(output_file, index=False)

print("Dataset cleaned and saved to:", output_file)

Dataset cleaned and saved to: cleaned_dataset.csv

In [ ]:
df

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,cleaned_text
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,Enjoying beautiful day park
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,Traffic terrible morning
2,2,2,Just finished an amazing workout! 💪 ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,finished amazing workout
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,Excited upcoming weekend getaway
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,Trying new recipe dinner tonight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,728,732,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18,Collaborating science project received recogni...
728,729,733,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14,Attending surprise birthday party organized fr...
729,730,734,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17,Successfully fundraising school charity initia...
730,731,735,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20,Participating multicultural festival celebrati...
731,732,736,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15,Organizing virtual talent show challenging tim...

In [ ]:
import pandas as pd
import emoji

def emoji_to_text(input_text):
    # Replace emojis with their textual representations
    return emoji.demojize(input_text)

# Load the CSV file into a DataFrame
input_file = 'sentimentdataset.csv'
output_file = 'transformed_dataset.csv'
df = pd.read_csv(input_file)

# Apply emoji_to_text function to the 'text' column containing emojis
df['transformed_text'] = df['Text'].apply(emoji_to_text)

# Save the transformed DataFrame to a new CSV file
df.to_csv(output_file, index=False)

print("Dataset transformed and saved to:", output_file)

Dataset transformed and saved to: transformed_dataset.csv

In [ ]:
df

,Unnamed: 0.1,Unnamed: 0,Text,Sentiment,Timestamp,User,Platform,Hashtags,Retweets,Likes,Country,Year,Month,Day,Hour,transformed_text
0,0,0,Enjoying a beautiful day at the park! ...,Positive,2023-01-15 12:30:00,User123,Twitter,#Nature #Park,15.0,30.0,USA,2023,1,15,12,Enjoying a beautiful day at the park! ...
1,1,1,Traffic was terrible this morning. ...,Negative,2023-01-15 08:45:00,CommuterX,Twitter,#Traffic #Morning,5.0,10.0,Canada,2023,1,15,8,Traffic was terrible this morning. ...
2,2,2,Just finished an amazing workout! 💪 ...,Positive,2023-01-15 15:45:00,FitnessFan,Instagram,#Fitness #Workout,20.0,40.0,USA,2023,1,15,15,Just finished an amazing workout! :flexed_bic...
3,3,3,Excited about the upcoming weekend getaway! ...,Positive,2023-01-15 18:20:00,AdventureX,Facebook,#Travel #Adventure,8.0,15.0,UK,2023,1,15,18,Excited about the upcoming weekend getaway! ...
4,4,4,Trying out a new recipe for dinner tonight. ...,Neutral,2023-01-15 19:55:00,ChefCook,Instagram,#Cooking #Food,12.0,25.0,Australia,2023,1,15,19,Trying out a new recipe for dinner tonight. ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,728,732,Collaborating on a science project that receiv...,Happy,2017-08-18 18:20:00,ScienceProjectSuccessHighSchool,Facebook,#ScienceFairWinner #HighSchoolScience,20.0,39.0,UK,2017,8,18,18,Collaborating on a science project that receiv...
728,729,733,Attending a surprise birthday party organized ...,Happy,2018-06-22 14:15:00,BirthdayPartyJoyHighSchool,Instagram,#SurpriseCelebration #HighSchoolFriendship,25.0,48.0,USA,2018,6,22,14,Attending a surprise birthday party organized ...
729,730,734,Successfully fundraising for a school charity ...,Happy,2019-04-05 17:30:00,CharityFundraisingTriumphHighSchool,Twitter,#CommunityGiving #HighSchoolPhilanthropy,22.0,42.0,Canada,2019,4,5,17,Successfully fundraising for a school charity ...
730,731,735,"Participating in a multicultural festival, cel...",Happy,2020-02-29 20:45:00,MulticulturalFestivalJoyHighSchool,Facebook,#CulturalCelebration #HighSchoolUnity,21.0,43.0,UK,2020,2,29,20,"Participating in a multicultural festival, cel..."
731,732,736,Organizing a virtual talent show during challe...,Happy,2020-11-15 15:15:00,VirtualTalentShowSuccessHighSchool,Instagram,#VirtualEntertainment #HighSchoolPositivity,24.0,47.0,USA,2020,11,15,15,Organizing a virtual talent show during challe...

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
input_file = 'sentimentdataset.csv'
output_file = 'transformed_dataset.csv'
df = pd.read_csv(input_file)

# Remove hash symbol from hashtags in the 'text' column
df['transformed_text'] = df['Hashtags'].apply(lambda x: x.replace('#', '') if '#' in x else x)

# Save the transformed DataFrame to a new CSV file
df.to_csv(output_file, index=False)

print("Dataset transformed and saved to:", output_file)

Dataset transformed and saved to: transformed_dataset.csv

In [ ]:

d=['Hashtags','transformed_text']
df[d]

,Hashtags,transformed_text
0,#Nature #Park,Nature Park
1,#Traffic #Morning,Traffic Morning
2,#Fitness #Workout,Fitness Workout
3,#Travel #Adventure,Travel Adventure
4,#Cooking #Food,Cooking Food
...,...,...
727,#ScienceFairWinner #HighSchoolScience,ScienceFairWinner HighSchoolScience
728,#SurpriseCelebration #HighSchoolFriendship,SurpriseCelebration HighSchoolFriendship
729,#CommunityGiving #HighSchoolPhilanthropy,CommunityGiving HighSchoolPhilanthropy
730,#CulturalCelebration #HighSchoolUnity,CulturalCelebration HighSchoolUnity
731,#VirtualEntertainment #HighSchoolPositivity,VirtualEntertainment HighSchoolPositivity